[Desktop Entry]
Name=Search Start Page
Type=Application
Exec=/usr/local/bin/stp
TryExec=stp
Comment=Search for any highlighted text
Icon=/usr/local/share/icons/search-bar/startpage-logo.png
Categories=Network;
NoDisplay=True