[Desktop Entry]
Name=Search Gentoo Forums
Type=Application
Exec=/usr/local/bin/gf
TryExec=gf
Comment=Search for any highlighted text
Icon=/usr/local/share/icons/search-bar/Gentoo-logo.png
Categories=Network;
NoDisplay=True