[Desktop Entry]
Name=Search IMDb
Type=Application
Exec=/usr/local/bin/imdb
TryExec=imdb
Comment=Search for any highlighted text
Icon=/usr/local/share/icons/search-bar/imdb.png
Categories=Network;
NoDisplay=True
