[Desktop Entry]
Name=Search Google
Type=Application
Exec=/usr/local/bin/gg
TryExec=gg
Comment=Search for any highlighted text
Icon=/usr/local/share/icons/search-bar/google.png
Categories=Network;
NoDisplay=True
