[Desktop Entry]
Name=Search antiX Forums
Type=Application
Exec=/usr/local/bin/antix
TryExec=antix
Comment=Search for any highlighted text
Icon=/usr/local/share/icons/search-bar/antiX-logo.png
Categories=Network;
NoDisplay=True
