[Desktop Entry]
Name=Search Dictionary 
Type=Application
Exec=/usr/local/bin/dict-search
TryExec=dict-search
Comment=Search for any highlighted text
Icon=/usr/local/share/icons/search-bar/dictionary.png
Categories=Network;
NoDisplay=True
