[Desktop Entry]
Name=Google Search
Type=Application
Exec=/usr/local/bin/g
TryExec=g
Comment=Search for any highlighted text
Icon=/usr/local/share/icons/search-bar/google.png
Categories=Search;

