[Desktop Entry]
Name=Search Wikipedia
Type=Application
Exec=/usr/local/bin/wiki
TryExec=wiki
Comment=Search for any highlighted text
Icon=/usr/local/share/icons/search-bar/wiki.png
Categories=Network;
NoDisplay=True
